/*
position relative:
    - se mueve con prierdades top, left, bottom, right y el espacio donde estaba queda ahi  vacio
    - solo funciona si el padre tiene un lato definido, eso no aplica para el width.
    - se calcula respecto a la posicion inicial de elemento

position absolute:
    - al aplicarlo, su espacio en el flujo se convierte en 0.
    - el ancho esta definido por su contenido.
    - se posiciona en relacion al ancesto mas cercano que esta posicionado.
    - si ninguno esta posicionado, se calcula respecto al vp.
z-indez:
    - 
*/

* {
    margin: 0;
    padding: 0;
}

*, ::before, ::after {
    box-sizing: inherit;
}

:root {
    box-sizing: border-box;
    font-size: calc(0.5em + 1vw);
    font-family: 'Poppins', sans-serif;
}

.text-center {
    text-align: center;
}

.weigth-100{
    font-weight: 300;
}

.button {
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid white;
    padding: 13px 23px;
    background: none;
    font-size: 15px;
    color: #ffffff;
}

.container {
    padding: 1px 15px;
    margin-left: 7%;
    margin-right: 7%;
    position: relative;
}

.height100 {
    height: 100%;
}

.gradient-bg{
    background: linear-gradient(0deg, #e66587 0%, #f09458 100%);
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-content-bw{
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.white {
    color: #ffffff;
}

.top-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 59px;
    background-color: #000000;
    width: 100%;
    border-bottom: 1px solid rgb(135, 228, 235);
}

header {
    height: 600px;
    background:  linear-gradient(0deg, #e66587 0%, #f09458 100%);
    line-height: 1.5em;
}

.header-top{
    margin-top: 25px;
}

.header-content{
    position: relative;
    bottom: 54px;
}

header h2{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 500;
}

body {
    background-attachment: fixed;
    background-image: url(img/body-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-size: 14px;
}

body:after{
    background: linear-gradient(0deg, #e66587 0%, #f09458 100%);
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.6;
    left: 0;
    top: 0;
    z-index: -1;
}

.wrapper {
    width: 75%;
    margin: 80px auto;
    height: auto;
}

.grid {
    display: grid;
    align-items: center;
}

.rows-3{
    grid-template-columns: 1fr 1fr 1fr;
}

.rows-2{
    grid-template-columns: 1fr 1fr; 
}

.rows1-2{
    grid-template-columns: 1fr 2fr;
}

.section-1 {
    height: 311px;
    width: 100%;
    background-color: #ffffff;
}

.icon:hover{
    background: linear-gradient(0deg, #e66587 0%, #f09458 100%);
}