/*
position relative:
    - se mueve con prierdades top, left, bottom, right y el espacio donde estaba queda ahi  vacio
    - solo funciona si el padre tiene un alto definido, eso no aplica para el width.
    - se calcula respecto a la posicion inicial de elemento

position absolute:
    - al aplicarlo, su espacio en el flujo se convierte en 0.
    - el ancho esta definido por su contenido.
    - se posiciona en relacion al ancesto mas cercano que esta posicionado.
    - si ninguno esta posicionado, se calcula respecto al vp.
z-indez:
    - Solo funciona para elementos que ya estan posicionados.
*/

* {
    margin: 0;
    padding: 0;
}

*, ::before, ::after {
    box-sizing: inherit;
}

:root {
    box-sizing: border-box;
    font-size: calc(0.5em + 1vw);
    font-family: 'Poppins', sans-serif;
}

.text-center {
    text-align: center;
}

.weigth-100{
    font-weight: 300;
}

.p-absolute{
    position: absolute;
}

.bg-white{
    background-color: white;
}

.button {
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid white;
    padding: 13px 23px;
    background: none;
    font-size: 14px;
    color: #ffffff;
}

.container {
    padding: 1px 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 1200px;
}

.height100 {
    height: 100%;
}

.width100{
    width: 100%;
}

.gradient-bg{
    background: linear-gradient(90deg, #e66587 0%, #f09458 100%);
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-content-bw{
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.white {
    color: #ffffff;
}

.top-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 59px;
    background-color: #000000;
    width: 100%;
    border-bottom: 1px solid rgb(135, 228, 235);
}

header {
    height: 600px;
    background:  linear-gradient(0deg, #e66587 0%, #f09458 100%);
    line-height: 1.5em;
}

.header-top{
    margin-top: 25px;
}

.header-content{
    position: relative;
    bottom: 54px;
}

header h2{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 500;
}

body {
    background-attachment: fixed;
    background-image: url(img/body-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-size: 14px;
    font-weight: 300;
}

body:after{
    background: linear-gradient(0deg, #e66587 0%, #f09458 100%);
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.6;
    left: 0;
    top: 0;
    z-index: -1;
}

.wrapper {
    width: 75%;
    margin: 80px auto;
    height: auto;
}

.grid {
    display: grid;
    align-items: center;
}

.grid-gap{
    grid-gap:35px;
}

.section-1 .container > div{
    grid-gap: 40px;
}

.rows-4{
    grid-template-columns: repeat(4,1fr);
}

.rows-3{
    grid-template-columns: 1fr 1fr 1fr;
}

.rows-2{
    grid-template-columns: 1fr 1fr; 
}

.rows1-2{
    grid-template-columns: 1fr 2fr;
}

.colums-2{
    grid-template-rows: 1fr 1fr;
}

.section-1 {
    height: auto;
    width: 100%;
    background-color: #ffffff;
    color: #777777;
    padding: 4%;
} 

h3{

}

h4{
    color: #222222;
    margin: 0 0 20px 0;
    font-size: 14px;
}

h6{
    font-size: 14px;
}

.icon:hover{
    background: linear-gradient(0deg, #e66587 0%, #f09458 100%);
    color: #ffffff;
}

.icon:hover i {
    color: #ffffff;
}

.icon{
    width: 60px;
    height: 60px;
    border: 1px solid rgba(194, 188, 188, 0.63);
}

.section-1 i{
    color: #e66587;
}

.section-2{
    width: 100%;
    height: auto;
    padding: 7% 1px;
}

.section-2 .container{
    max-width: 1100px;
}

.section-2 .img {
    background-image: url(img/s1.jpg);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-position: center;
    background-size: cover;
}

.img > div{
    visibility: hidden;
    padding: 0 60px;
    height: 193px;
}

.img:hover > div{
    visibility: visible;
    background: #ffffff9f;
}
.section-2 span{
    font-weight: 300;
}

.section2-header{
    margin-bottom: 45px;
    width: 100
}

.section-3{
    width: 100%;
    height: 500px;
    position: relative;
}

.section-3 .p-absolute{
    height: 250px;
    max-width: 50%;
    padding: 60px;
    top: 25%;
    left: 25%;
}

.flex50 {
    flex-basis:50%;
}

#story-bg{
    background-image: url(img/story-bg.jpg);
    background-position: cover;
    background-size: cover;
}

@media screen and (max-width: 1500px) {
    .wrapper{
        margin: 80px 90px;
        width: auto;
    }
  }

  @media screen and (max-width: 1196px) {
    .wrapper{
        margin: 80px 50px;
    }
  }

  @media screen and (max-width: 1125px) {
    .section-2 .grid{
        grid-template-columns: 1fr 1fr; 
    }

    .section-2 .container{
        max-width: 920px;
    }

    .section-1 .grid.rows1-2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
  }

  @media screen and (max-width: 1050px) {
      #story-bg{
          position: absolute;
      }

      .section-3{
          text-align: center;
      }

      .section-3 .flex50{
          flex: 1 1 100%;
      }

      .section-3 .p-absolute{
          height: auto;
          max-width: 80%;
          left: 10%;
      }
      
  }

  @media screen and (max-width: 600px) {
    .section-2 .grid{
        grid-template-columns: 1fr; 
    }
  }


  @media screen and (max-width: 740px) {
      .wrapper{
          margin: 80px 10px;
      }

      .section-1 .grid.rows-3{
          display: flex;
          flex-direction: column;
      }

      .section-1 h4{
          margin: 20px 0;
      }
  }

  @media screen and (max-width: 520px) {
      .wrapper{
          margin: 80px 0;
      }

      .section-3{
          height: 600px;
      }
  }


